body {
    background-color: rgb(249,249,249);
    font-family: Arial, "Helvetica Neue";
}

h1 {
    color: rgb(39,39,39);
    font-size: 42;
}

p {
    color: rgb(39,39,39);
    font-size: 14;
}

.winner {
    font-size: 99pt;
    color: green;
}

.matrix {
    background-color: black;
}