 .nav A:link {font-size:10px;font-family:verdana;COLOR: #392A84; TEXT-DECORATION: none}
 .nav A:visited {font-size:10px;font-family:verdana;COLOR: #392A84; TEXT-DECORATION: none}
 .nav A:active {font-size:10px;font-family:verdana;COLOR: #392A84; TEXT-DECORATION: none}
 .nav A:hover {font-size:10px;font-family:verdana;COLOR: #392A84; font-weight:bold;TEXT-DECORATION: none}
 .nav2 A:link {font-size:15px;font-family:verdana;COLOR: #392A84; TEXT-DECORATION: none}
 .nav2 A:visited {font-size:15px;font-family:verdana;COLOR: #392A84; TEXT-DECORATION: none}
 .nav2 A:active {font-size:15px;font-family:verdana;COLOR: #392A84; TEXT-DECORATION: none}
 .nav2 A:hover {font-size:15px;font-family:verdana;COLOR: #392A84; font-weight:bold;TEXT-DECORATION: none}
 .nav3 A:link {font-size:12px;line-height:20px;font-family:verdana;COLOR: #392A84; TEXT-DECORATION: none}
 .nav3 A:visited {font-size:12px;line-height:20px;font-family:verdana;COLOR: #392A84; TEXT-DECORATION: none}
 .nav3 A:active {font-size:12px;line-height:20px;font-family:verdana;COLOR: #392A84; TEXT-DECORATION: none}
 .nav3 A:hover {font-size:12px;line-height:20px;font-family:verdana;COLOR: #392A84; font-weight:bold;TEXT-DECORATION: none}
 .text {font-size:12px;line-height:20px;font-family:verdana;COLOR: #392A84; TEXT-DECORATION:none}
 .textklein {font-size:10px;line-height:12px;font-family:verdana;COLOR: #392A84; TEXT-DECORATION:none}
 th {font-size:12x;line-height:20px;font-weight:bold;font-family:verdana;COLOR: #392A84; TEXT-DECORATION:none}
 textarea {
  font-family: Verdana, Tahoma, Arial, Helvetica,sans-serif;
  border-bottom: #C1C4D9 1px solid;
  border-left: #C1C4D9 1px solid;
  border-right: #C1C4D9 1px solid;
  border-top: #C1C4D9 1px solid;
  background-color: #DEDFEB;
  color: #392A84;
  font-size:12px;
  line-height:20px;
  scrollbar-base-color:#C1C4D9;
  scrollbar-3dlight-color:#FFFFFF;
  scrollbar-arrow-color:#FFFFFF;
  scrollbar-darkshadow-color:#000000;
  scrollbar-face-color:#C1C4D9;
  scrollbar-highlight-color:#FFFFFF;
  scrollbar-shadow-color:#000000;
  scrollbar-track-color:#C1C4D9;
}
.spalte {font-family:verdana; font-size:12px;}
.kopf {font-family:verdana; font-size:12px;}
select {font-family:verdana; font-size:12px;}
.hinweis {font-size:12px;line-height:14px;font-family:verdana;COLOR:#ff8000;TEXT-DECORATION:none;font-weight:bold}
